<section style="margin-top: 5rem;">
    <div class="container">
        <form action="/admin/add-subcategories" method="post" enctype="multipart/form-data">
            <div class="row w-50 mt-4">
                <div class="text-center w-100">
                    <h3 class="font-weight-bold">Add Subcategories</h3>
                </div>
                {{#if LinkError}}
                <div class="col-12">
                    <label style="color: red;">{{LinkError}} (no more than one)</label>
                </div>
                {{/if}}
                <div class="col-12">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" />
                </div>
                <div class="col-12">
                    <label>Add Link</label>
                    <input type="url" class="form-control" name="link" value="" />
                </div>
                <div class="col-12">
                    <label>Description</label>
                    <input type="text" class="form-control" name="description" />
                </div>
                <div class="col-12">
                    <label>Image</label>
                    <img style="margin: 40px 20px;" src="" alt="" width="65px" height="50px" id="imgViewSubCat">
                    <input type="file" class="form-control" name="image" onchange="viewImageSubCategory(event)" />
                </div>
                <div class="ml-3" style="margin-bottom: 3rem;">
                    <button type="submit" class="btn btn-success mt-3">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>