<section style="margin-top: 5rem;">
  <div class="container">
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">Active Date</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email Address</th>
        </tr>
      </thead>
      <tbody>
        {{#each userData}}
        <tr>
          <td>{{this.date}}</td>
          <td>{{this.name}}</td>
          <td>{{this.email}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>