<section class="mt-5">
    <div class="container">
        <div class="d-flex flex-row justify-content-between">
            <div class="">
                <form action="/admin/edit-profile" method="post" id="editProfile">
                    <div class="row add-SubCatLeftUI  mt-4">
                        <div class="col-12">
                            <input type="text" id="name" placeholder="Name" class="form-control" name="name" value="{{data.name}}" /><br>
                        </div>
                        <div class="col-12">
                            <input type="email" id="email" placeholder="E-mail" class="form-control" name="email" value="{{data.email}}" /><br>
                        </div>
                        <div class="col-12">
                            <input type="password" id="password" placeholder="Password" class="form-control" name="password" />
                        </div>

                        <div class="ml-3 Btn-ForCustomize margin-bottom-1rem">
                            <div class="">
                                <button type="submit" class="btn btn-success mt-3 wid-110">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="w-100  text-dark "> </div> {{!-- this designed class use this one ( addSubCat-RightPanel ) --}}
        </div>
    </div>
</section>