<section>
  <div class="container-fluid align-as-center">
    <div class="box-shadow-forgot">
      <div class="top-section-forgot">
        <div>
          <h4>Find Your Account</h4>
        </div>
      </div>
      <div></div>
      <div>
        <div class="bottom-section-First_heading">
          {{#if RESPONSE_FOR_ENTER_EMAIL}}
          <div class="error-div">
            <div class="error-message">
              <p class="error-message-heading">{{RESPONSE_FOR_ENTER_EMAIL.heading}}</p>
              <p class="error-message-paragraph">{{RESPONSE_FOR_ENTER_EMAIL.paragraph}}</p>
            </div>
          </div>
          {{/if}}
          {{#if RESPONSE_FOR_ENTER_EMAIL_MODULE_ERROR}}
          <div class="error-div">
            <div class="error-message">
              <p class="error-message-heading">{{RESPONSE_FOR_ENTER_EMAIL_MODULE_ERROR}}</p>
            </div>
          </div>
          {{/if}}
          <div>
            <p>Please enter your email address to search for your account.</p>
          </div>
        </div>
        <form action="/admin/forgot-password" method="post" onsubmit="submit()">
          <div>
            <div>
              <input class="email-forgot" type="email" placeholder="Email address" name="email" />
            </div>
          </div>
          <div class="bottom-section-Last_heading">
            <div></div>
            <div class="bottom-section-rightBtn">
              <div>
                <a href="/admin/login" class="btn btn-back ">Back</a>
              </div>
              <div>
                <button class="btn btn-success btn-forgot" type="submit">Search</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</section>