<section>
  <div class="container-fluid align-as-center">
    <div class="box-shadow-forgot">
      <div class="top-section-forgot">
        <div>
          <h4>Choose a new password</h4>
        </div>
      </div>
      <div></div>
      <div>
        <div class="bottom-section-First_heading">
          {{#if RESPONSE_FOR_ENTER_PASSWORD}}
          <div class="error-div">
            <div class="error-message">
              <p class="error-message-heading">{{RESPONSE_FOR_ENTER_PASSWORD}}</p>
            </div>
          </div>
          {{/if}}
          <div>
            <p>Create a new password that is at least 6 characters long. A strong password has a combination of letters,
              digits and punctuation marks. <code>{{email}}</code></p>
          </div>
        </div>
        <form action="/admin/forgotPassword" method="post">
          <div>
            <div>
              <input class="email-forgot" type="password" placeholder="New password" name="password" autofocus="" />
            </div>
          </div>
          <div class="bottom-section-Last_heading">
            <div class="">
            </div>
            <div class="bottom-section-rightBtn">
              <div>
                <a href="/admin/login" class="btn btn-back " >Back</a>
              </div>
              <div>
                <button class="btn btn-success btn-forgot" type="submit">Continue</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</section>