<header class="padding-bottom-3rem5" >
  <nav class="navbar navbar-expand-md navbar-light bg-light " id="partials-for-admin-navTag" >
    <div class="nav-logo">
      <div>
        <a class="navbar-brand padding-left-19px" href="/admin/">AHLBYT</a>
      </div>
    </div>
  </nav>
</header>