<header>
  <div>
    <nav class="navbar navbar-expand greeLight color-gold-parent admin-header-style " >
      <a class="navbar-brand color-gold pl-5" href="/admin/">AHLBYT</a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item text-center color-gold-parent">
            <a class="nav-link color-gold" href="">{{admin.name}} <i class="fa-solid fa-user color-white"></i></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="contain-two-admin-part">
      <div id="admin-left-panel">
        <div class="">
          <div class="" id="panel-sub-parts">
            <a id="panel-sub-parts-aTag">Dashboard</a>
          </div>
          <div class="panel-middle-subPart">
            <div class="panel-middle-subPart-Div border-top-solid-whiteLight">
              <a href="/admin/addingDepartment" class="panel-middle-subPart-aTag"><i class="fa-solid fa-circle-plus icon-for-panel-middle font-size-17"></i><span class="thiOne-ForPanel-middle icon-for-panel-middle">Department</span></a>
            </div>
            <div class="panel-middle-subPart-Div">
              <a href="/admin/addingDepartmentHeads" class="panel-middle-subPart-aTag"><i class="fa-solid fa-circle-plus icon-for-panel-middle font-size-17"></i><span class="thiOne-ForPanel-middle icon-for-panel-middle">Dept. Heads</span></a>
            </div>
            <div class="panel-middle-subPart-Div">
              <a href="/admin/home" class="panel-middle-subPart-aTag"><i class="fa-solid fa-list icon-for-panel-middle font-size-17"></i><span class="thiOne-ForPanel-middle">Departments</span></a>
            </div>
             <div class="panel-middle-subPart-Div">
              <a href="/admin/edit-profile" class="panel-middle-subPart-aTag"><i class="fa-solid fa-user-pen icon-for-panel-middle font-size-17"></i><span class="thiOne-ForPanel-middle">Edit profile</span></a>
            </div>
             <div class="panel-middle-subPart-Div">
              <a href="/admin/listDeptHeads" class="panel-middle-subPart-aTag"><i class="fa-solid fa-list icon-for-panel-middle font-size-17"></i><span class="thiOne-ForPanel-middle">Dept. Heads</span></a>
            </div>

            <div class="panel-middle-subPart-Div">
              <a href="/admin/logout" class="panel-middle-subPart-aTag"><i class="fa-solid fa-arrow-right-from-bracket icon-for-panel-middle-red font-size-17"></i><span class="thiOne-ForPanel-middle icon-for-panel-middle-red">LogOut</span></a>
            </div>
          </div>
          <div class=""></div>
        </div>
      </div>
      <div class=" mt-6  w-100 margin-top-1rem admin-panel-Dynamic" >
        {{{body}}}
      </div>
    </div>
  </div>
</header>