<!-- Footer -->
<footer class="page-footer font-small blue" style="background-color: green;    ">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: yellow;">© 2022 Copyright:
    <a href="/" style="color: white;"> Ahlbyt</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->