<header class="padding-bottom-3rem5">
  <nav class="navbar navbar-expand-lg navbar-light userHead-nav">
    <div class="nav-logo">
      <div class="d-flex">
        <div>
          <img src="/public_asset/logo2.jpeg" alt="" style="width: 140px;height:62px;border-radious:4px">
          {{!-- <a class="navbar-brand padding-left-19px" style="letter-spacing: 1px;font-style: 20px;" href="/">AHLBYT</a> --}}
        </div>
        {{!-- mobile view --}}
        <div class=" hide-991 account-space base my-auto "  style="" >
        {{#if userData}}
             <a class=" text-dark account-space-r" style="text-decoration: none;" href="#">{{userData.name}}</a>
             <a class=" text-dark" style="vertical-align: middle;" href="">-</a>
             <a class=" text-dark account-space-r" style="text-decoration: none;" href="/logout">Log Out</a>
        {{else}}
             <a class=" text-dark account-space-r" href="/login">Log In</a>
             <a class=" text-dark" style="vertical-align: middle;font-weight: 700;" href="">/</a>
             <a class=" text-dark account-space-r" href="/signup">Sign Up</a>
        {{/if}}
        </div>
        {{!-- mobile view --}}
        </div>
      </div>
    </div>
    <nav class="navbar navbar-light">
      <form class="form-inline">
        <input id="filter" style=""  class="form-control mr-sm-2 input-search " type="search" placeholder="search..." aria-label="Search">
      </form>
    </nav>

    {{!-- Desktop view --}}
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav ml-auto pl-auto response-style-align" style="font-family:'Avenir', sans-serif ;">
        {{#if userData}}
        <li class="nav-item">
          <div>
            <a class="nav-link n font-size-15" href="#">{{userData.name}}</a>
          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link font-size-15" href="/logout">Log Out</a>
        </li>
        {{else}}
        <div class="base my-auto">
          <li class="button-for-responsive-align">
          <div class="account-space base" id="authAreUi">
            <a class=" text-dark account-space-r " href="/login">Log In</a>
            <a class=" text-dark" style="vertical-align: middle;" href="">/</a>
            <a class=" text-dark account-space-r " href="/signup">Sign Up</a>
          </div>
        </li>
        </div>
        {{/if}}
      </ul>
    </div>
        {{!--  --}}
  </nav>
</header>


<div id="mySidenav" class="sidenav">
  <a href="/" id="home">Home</a>
  <a href="/aboutus" id="about">About</a>
  <a href="/contact" id="contact">Contact</a>
</div>








