<header class="padding-bottom-3rem5">
  <nav class="navbar navbar-expand-lg navbar-light userHead-nav" id="header-nav-container">
    <div class="nav-logo">
      <div class="d-flex">
        <div>
          {{!-- /public_asset/logo2.jpeg   --}}
          {{!-- <img src="" alt="" style="width: 135px;height:55px;border-radious:4px" onclick="link_url('/')"> --}}
          <a class="navbar-brand padding-left-19px logo-tag" style="letter-spacing: 2px;font-style: 20px;" href="/"><span class="logo-subname">&lt;/&gt;&Sigma;</span> AHLBY<span>T</span></a>
        </div>
        {{!-- mobile view --}}
        <div class=" hide-991 account-space base my-auto "  style="" >
        {{#if userData}}
             <a class=" text-dark account-space-r" style="text-decoration: none;" href="#">{{userData.name}}</a>
             <a class=" text-dark" style="vertical-align: middle;" href="">-</a>
             <a class=" text-dark account-space-r" style="text-decoration: none;" href="/logout">Log Out</a>
        {{else}}
             <a class=" text-dark account-space-r" style="text-transform: uppercase;" href="/login">Log In</a>
             <a class=" text-dark" style="vertical-align: middle;font-weight: 700;" href="">/</a>
             <a class=" text-dark account-space-r" style="text-transform: uppercase;" href="/signup">Sign Up</a>
        {{/if}}
        </div>
        {{!-- mobile view --}}
        </div>
      </div>
    </div>
    <nav class="navbar navbar-light">
      <form class="form-inline search-scroll-hide" style="position: relative;">
        <input id="filter" style="padding-left: 48px;"  class="form-control mr-sm-2 input-search " type="search" placeholder="Search" aria-label="Search">
        <i style="position: absolute;left: 23px;top: 11px;" class="fa-sharp fa-solid fa-magnifying-glass"></i>
      </form>
    </nav>

    {{!-- Desktop view --}}
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav ml-auto pl-auto response-style-align" style="font-family:'Avenir', sans-serif ;">
        {{#if userData}}
        <li class="nav-item">
          <div>
            <a class="nav-link n font-size-15" style="font-weight: 700;text-transform: uppercase;" href="#">{{userData.name}}</a>
          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link font-size-15" style="font-weight: 700;text-transform: uppercase;" href="/logout">Log Out</a>
        </li>
        {{else}}
        <div class="base my-auto">
          <li class="button-for-responsive-align">
          <div class="account-space base" id="authAreUi">
            <a class=" text-dark account-space-r " style="    text-transform: uppercase;" href="/login">Log In</a>
            <a class=" text-dark" style="vertical-align: middle;" href="">/</a>
            <a class=" text-dark account-space-r " style="    text-transform: uppercase;" href="/signup">Sign Up</a>
          </div>
        </li>
        </div>
        {{/if}}
      </ul>
    </div>
        {{!--  --}}
  </nav>
</header>


<div id="mySidenav" class="sidenav">
  <a href="/" id="bodyLeftBtn-Home" style="text-transform: uppercase;">Home</a>
  <a href="/aboutus" id="bodyLeftBtn-about" style="text-transform: uppercase;">About</a>
  <a href="/contact" id="bodyLeftBtn-contact" style="text-transform: uppercase;">Contact</a>
</div>








