<header class="padding-bottom-3rem5">
  <nav class="navbar navbar-expand-lg navbar-light bg-light userHead-nav">
    <div class="nav-logo">
      <div>
        <a class="navbar-brand padding-left-19px" style="font-family: 'Avenir', sans-serif;" href="/">AHLBYT</a>
      </div>
    </div>
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <input id="filter"  class="form-control mr-sm-2 input-search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 ml-2" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </nav>
    <button class="border-none navbar-toggler nav-button" type="button" data-toggle="collapse"
      data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav ml-auto pl-auto response-style-align" style="font-family:'Avenir', sans-serif ;">
        <li class="nav-item ">
          <a class="nav-link font-size-15" href="/">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-size-15" href="/about">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-size-15" href="/contact">CONTACT US</a>
        </li>
        {{#if user}}
        <li class="nav-item">
          <div>
            <a class="nav-link n font-size-15" href="#">{{user.name}}</a>
          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link font-size-15" href="/logout">LOGOUT</a>
        </li>
        {{else}}
        <div class="base">
          <li class="button-for-responsive-align">
          <div class="account-space base">
            <a class="navbar-brand btn account-space-l" href="/login">Log In</a>
            <a class="navbar-brand btn btn-success account-space-r" href="/signup">Sign Up</a>
          </div>
        </li>
        </div>
        {{/if}}
      </ul>
    </div>
  </nav>
</header>