<div class="contact_info">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div
          class="contact_info_container d-flex flex-lg-row flex-column justify-content-between align-items-between"
        >

          <!-- Contact Item -->
          <div
            class="contact_info_item d-flex flex-row align-items-center justify-content-start"
          >
            <div class="contact_info_image"><i
                class="fa-solid fa-mobile"
              ></i></div>
            <div class="contact_info_content">
              <div class="contact_info_title">Phone</div>
              <div class="contact_info_text">+91 8714444112</div>
            </div>
          </div>

          <!-- Contact Item -->
          <div
            class="contact_info_item d-flex flex-row align-items-center justify-content-start"
          >
            <div class="contact_info_image"><i
                class="fa-solid fa-envelope"
              ></i></div>
            <div class="contact_info_content">
              <div class="contact_info_title">Email</div>
              <div class="contact_info_text">tradeprofitfund@gmail.com</div>
            </div>
          </div>

          <!-- Contact Item -->
          <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><i class="fa-solid fa-user-tie"></i></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">CEO</div>
                                <div class="contact_info_text">MR. SYED SHAHBAZ</div>
                            </div>
                        </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="" style="margin-top: 1rem;
    font-family: 'Avenir', sans-serif;">



   
        <ul style="list-style-type: disc;" class="mt-5 mb-5"> 
            <li>Ai market place</li>
            <li>Blockchain </li>
            <li>Affiliate market stream generating tool</li>
            <li>saas (software as a service)</li>
        </ul>        
    </div>
</div>