

<div class="contact_info">
  <div class="menu-section menuBar" id="menu-sectionAbout" >
    <div class="menu-tab">
      <a class="menu-side-btnTag" style="text-decoration: none;" href="/">Home</a>
      <a href="/aboutus" style="margin: 12px;text-decoration: none;">About</a>
      <a href="/contact" style="text-decoration: none;">Contact</a>
    </div>
  </div>

  <div class="container">
    <div class="row">    
      <div class="col-lg-10 offset-lg-1">
        
        <div style="margin-bottom: 1.5rem;" class="contact_info_container d-flex flex-lg-row flex-column justify-content-between align-items-between" >
          <!-- Contact Item -->
          <div class="contact_info_item d-flex flex-row align-items-center justify-content-start component_container_homeAbout ">
            <div class="contact_info_image"><i class="fa-solid fa-user-tie"></i></div>
            <div class="contact_info_content">
              <div class="contact_info_title">FOUNDER</div>
              <div class="contact_info_text">MR. SYED SHAHBAZ</div>
            </div>
          </div>
          <!-- Contact Item -->
          <div class="contact_info_item d-flex flex-row align-items-center justify-content-start component_container_homeAbout " >
            <div class="contact_info_image"><i class="fa-solid fa-envelope" ></i></div>
            <div class="contact_info_content">
              <div class="contact_info_title">Email</div>
              <div class="contact_info_text"><a class="contact_info_item_inner_a" href="mailto:ahlbytweb@gmail.com">ahlbytweb@gmail.com</a></div>
            </div>
          </div>
          <!-- Contact Item -->
          <div class="contact_info_item d-flex flex-row align-items-center justify-content-start component_container_homeAbout" >
            <div class="contact_info_image"><i class="fa-solid fa-mobile" ></i></div>
            <div class="contact_info_content">
              <div class="contact_info_title">Phone</div>
              <div class="contact_info_text"><a class="contact_info_item_inner_a" href="tel:7676941486">+91 7676941486</a></div>
              {{!-- +91 7676941486 --}}
            </div>
          </div>
        </div>

        <div class="contact_info_container d-flex flex-lg-row flex-column justify-content-between align-items-between" >
          <!-- Contact Item -->
          <div class="contact_info_item d-flex flex-row align-items-center justify-content-start component_container_homeAbout ">
            <div class="contact_info_image"><i class="fa-solid fa-user-tie"></i></div>
            <div class="contact_info_content">
              <div class="contact_info_title">CO-FOUNDER</div>
              <div class="contact_info_text">MR. ABHIJIT</div>
            </div>
          </div>
          <!-- Contact Item -->
          <div class="contact_info_item d-flex flex-row align-items-center justify-content-start component_container_homeAbout " >
            <div class="contact_info_image"><i class="fa-solid fa-envelope" ></i></div>
            <div class="contact_info_content">
              <div class="contact_info_title">Email</div>
              <div class="contact_info_text"><a class="contact_info_item_inner_a" href="mailto:ahlbytweb@gmail.com">ahlbytweb@gmail.com</a></div>
            </div>
          </div>
          <!-- Contact Item -->
          <div class="contact_info_item d-flex flex-row align-items-center justify-content-start component_container_homeAbout" >
            <div class="contact_info_image"><i class="fa-solid fa-mobile" ></i></div>
            <div class="contact_info_content">
              <div class="contact_info_title">Phone</div>
              <div class="contact_info_text"><a class="contact_info_item_inner_a" href="tel:8547450434">+91 8547450434</a></div>
              {{!-- +91 7676941486 --}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="" style="margin-top: 1rem;font-family: 'Avenir', sans-serif;">
    <ul style="list-style-type: disc;" class="mt-5 mb-5">
      <li>Ai market place</li>
      <li>Blockchain </li>
      <li>Affiliate market stream generating tool</li>
      <li>saas (software as a service)</li>
      <li>unlimited web access </li>
      <li>free access</li>
      <li>all in one tool</li>
    </ul>
  </div>
</div>