<section class="close-section">
    <div class="close-parent-div">
        <a class="close-child-aTag" href="/close">X</a>
    </div>
    <div></div>
</section>

<section>
    {{#if EmailError}}
    <div>
        <div class="signup-emailErr text-center">
            <p>{{EmailError}}</p>
        </div>
    </div>
    {{/if}}
</section>

<section>
    {{#if LoginError}}
    <div>
        <div class="signup-emailErr text-center">
            <p>{{LoginError}}</p>
        </div>
    </div>
    {{/if}}
</section>


<div class="my-login-page">
    <section class="h-100">
        <div class="container main-container">
            <div class="row justify-content-center h-100">
                <div class="card-wrapper">
                    <div class="top-heading-main_div">
                        <div class="p-3 top-heading-sub_div">
                            <h3 class="top-heading">AHLBYT</h3>
                        </div>
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title text-decoration-underline">Login</h4>
                            <form action="/login" method="post" id="LoginForm">
                                <div class="form-group">
                                    <label for="email">E-Mail Address</label>
                                    <input id="email" type="email" class="form-control" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input id="password" type="password" class="form-control" name="password">
                                </div>
                                <div class="form-group">
                                    <div class="custom-checkbox custom-control p-0">
                                        <a class="font-size-14" href="#">Forgot Password?</a>
                                    </div>
                                </div>
                                <div class="form-group m-0">
                                    <button type="submit" class="btn btn-primary btn-block font-size-18">Login</button>
                                </div>
                                <div class="mt-4 text-center font-size-15">Don't have an account? <a href="/signup">Create One</a></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>