<section class="close-section">
    <div class="close-parent-div">
        <a class="close-child-aTag" href="/close">X</a>
    </div>
    <div></div>
</section>

<section>
    {{#if EmailError}}
    <div>
        <div class="signup-emailErr text-center">
            <p>{{EmailError}}</p>
        </div>
    </div>
    {{/if}}
</section>

<div class="my-login-page">
    <section class="h-100">
        <div class="container main-container h-100">
            <div class="row justify-content-center h-100">
                <div class="card-wrapper">
                    <div class="top-heading-main_div">
                        <div class="p-3 top-heading-sub_div">
                            <h3 class="top-heading">AHLBYT</h3>
                        </div>
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title text-decoration-underline">Register</h4>
                            <form action="signup" method="post" id="signupForm" class="signup-form">
                                <div class="form-group">
                                    <label for="name">Full Name</label>
                                    <input id="name" type="text" class="form-control" name="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">E-Mail Address</label>
                                    <input id="email" type="email" class="form-control" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input id="password" type="password" class="form-control" name="password">
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label" for="agree">I agree to the <a class="text-success" href="#">Terms and
                                            Conditions</a></label>
                                    <input type="checkbox" class="form-check-input" id="agree" name="agree">
                                </div>
                                <div class="form-group m-0">
                                    <button type="submit" class="btn btn-success btn-block">
                                        Register
                                    </button>
                                </div>
                                <div class="mt-4 text-center font-size-15">
                                    Already have an account? <a href="/login" class="text-success">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>