/* Forgot Password */

.align-as-center{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.box-shadow-forgot{
    border-radius: 5px;
    padding: 25px 30px 27px 30px;
    box-shadow: 0px 0px 20px 4px #b1b0b075;
    width: 500px;
    
}
.top-section-forgot{
        padding: 20px 0px 10px 0px;
        border-bottom: 1px solid #00000020;
}
.bottom-section-First_heading{
    padding-top: 1rem;
}
.btn-forgot{
    border-radius: 7px;
    color: white;
}
.bottom-section-Last_heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}
.email-forgot{
    border: 1px solid #0000003b;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    font-size: 15px;
    height: 45px;
    -webkit-rtl-ordering : none;
}
.bottom-section-rightBtn{
    display: flex;
    flex-direction: row;
}
.btn-back{
    color: black;
    background-color: #b0b5b973;
    margin: 0px 10px 0px 0px;
    width: 90px;
}
.btn-back:hover{
    background-color: #d1cdd5;
    color: #000000a6;
}
.margin-top-14{
    margin-top: 14px;
}
.font-size-12{
    font-size: 12px;
}
/* Error page for forgot password */


.error-div{
    background-color: #ff2f001c;
    display: flex;
    align-items: center;
    padding-left: 12px;
    border: 1px solid red;
    margin-bottom: 12px;
}
.error-message{
    font-weight: 600;
    font-size: 14px;
}
.error-message-heading{
    padding-top: 1rem;
    margin-bottom: 5px;
}
.error-message-paragraph{
    font-size: 13px;
    padding-left: 0px;
    font-weight: 500;
    margin-bottom: 10px;
}
.success-forgot-password{
    border: 1px green solid;
    background-color: #28ff004f;
    display: flex;
    align-items: center;
    padding-left: 12px;
    margin-bottom: 12px;
}

/* cards */
.cards-section{
    display: flex;
    flex-direction: row;
    padding: 30px 0px 0px 40px;
    justify-content: space-evenly;
    padding-bottom: 3rem;
    box-shadow: 0px 0px 10px 10px #ebebeb;
    background-color: #388b054f;
    border-radius: 4px;
}
.count-card{
    padding: 15px;
    width: 225px;
    margin: 0px 16px;
    background-color: #2c9700d6;
    box-shadow: 0px 0px 11px 0px #858282ad;
    color: #403d3d;
    border-radius: 4px;
}
.text-center .viewCat-tr{
    color: white;
    background-color: #2a2121c4;
}
.text-center .bg-color-DynamicDataView-SubCat{
    background-color: #ede9e3;
}

.panel-middle-subPart-Div
.panel-middle-subPart-aTag{
    text-decoration: none;
}
.addSubCat-RightPanel{
    margin-left: 15px;
    box-shadow: 0px 0px 10px 0px #00000040;
    border-radius: 5px;
}
.Btn-ForCustomize{
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
div .add-SubCatLeftUI {
    width: 100%;
    margin-left: 0px;
    padding: 25px 25px 0px 25px;
    box-shadow: 0px 0px 10px -5px;
    height: fit-content;
}
.container div .text-decoration-none{
    text-decoration: none;
    cursor: pointer;
  }
  .icon-cus{
    color: black;
    font-size: 27px;
    margin-left: 11px;
  }
 #add-subCat-ViewBtn {
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    vertical-align: middle;
    margin-right: 9px;
    background-color: #d8e9e3;
    font-weight: 600;
  }
    .custom-control .font-size-12{
    font-size: 12px;
    color: #3e454c;
  }
  .icon-font-size{
    font-size: 22px;
    background-color: #e9e9e9;
    padding: 10px;
    border-radius: 3px;
  }
  .count-card-childDiv{
    display: flex;
    width: 95%;
    flex-direction: row;
    justify-content: flex-end;
  }
  .admin-header-style{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 50;
    box-shadow: 0px 0px 7px 1px #3c3434;
  }