




/* Global style */

*{
    font-family: inherit;
}


.font-size-14{
    font-size: 14px;
  }
  .font-size-18{
    font-size: 18px;
  }
  .font-size-15{
    font-size: 15px;
  }
  .font-size-13{
    font-size: 13px;
  }
  .font-size-16{
    font-size: 16px;
  }
  .font-size-20{
    font-size: 20px;
  }
  .font-size-17{
    font-size: 17px;
  }
  .padding-left-20{
    padding-left: 20px;
  }
  .padding-left-19px{
    padding-left: 19px;
  }
.padding-bottom-3rem5{
    padding-bottom: 3.5rem;
  }
  .margin-top-4rem{
      margin-top: 4rem;
  }
  .margin-top-1rem{
    margin-top: 1rem;
}
  .margin-top-2rem5{
    margin-top: 2.5rem;
}
  .padding-8px{
      padding: 8px;
  }
  .margin-bottom-5rem{
    margin-bottom: 5rem;
  }
  .wid-110{
    width: 110px;
  }
  .margin-bottom-1rem{
    margin-bottom: 1rem;
  }
  .color-gold-parent .color-gold{
    color: gold;
  }
  .word-break-break-all{
    word-break: break-all;
  }
  .greeLight{
    background-color: #13a117;
  }
  .color-white{
    color: white;
  }
  .whiteLight{
    background-color: #bbcdb96b;
  }
  .DynamicSubCatView{
    font-size: 17px;
    width: 45px;

  }
  
  
  
  
  
  /* -------------------------------------------- */
  
  