.main-sub1-div-style {
  border: 1px solid #d9d9e1 !important;
  border-radius: 15px !important;
  margin-top: 2rem !important;
  margin-bottom: 2.5rem !important;
  box-shadow: -5px 0px 70px 3px #d1cccc !important;
}

.main-sub1-div-style-form-button {
  width: 70% !important;
  height: 37px !important;
  background-color: #2f893e !important;
  font-size: 18px !important;
  display: flex !important;
  border: none !important;
  justify-content: center !important;
  align-items: center !important;
  margin-bottom: 1rem !important;
}

.loginPage-InnerForm-CreateNewAccAndForGetPass {
  padding-top: 13px !important;
  padding-bottom: 9px;
  flex-direction: column !important;
}

.loginPage-InnerForm-ForGetPass {
  color: #727a83 !important;
  font-size: 12px !important;
  padding-left: 5px !important;
}

.loginPage-InnerForm-buttonDiv {
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 15px !important;
  margin-top: 14px !important;
}

.navbar .form-inline .input-search {
  width: 20rem;
}






.top-heading-main_div {
  display: flex !important;
  align-content: center !important;
  justify-content: center !important;
  align-items: center !important;
  height: fit-content !important;
}

.top-heading-sub_div {
  margin-top: 2rem !important;
}

.top-heading {
  font-weight: 800 !important;
}

.bottom-section {
  background: #eaedef !important;
  display: flex !important;
  justify-content: center !important;
  padding: 16px !important;
  align-items: center !important;
  align-content: center !important;
  color: #0000005c !important;
  width: 100% !important;
}


div .own-style {
  font-size: 15px;
}

div .font-size-16 {
  font-size: 16px;
}








/* Home styles */

div.home-row {
  margin: 20px 30px;
  margin-top: 60px;
}

div .loading {
  font-size: 20px;
}

.font-weight {
  margin-top: unset;
  margin-bottom: unset;
  font-size: 18px;
  font-weight: 900;
}

.imag-style {
  padding: 9px;
  margin-top: 0;
  margin-bottom: 0rem;
}

.p-none {
  margin-top: 0;
  margin-bottom: 0rem;
}

.image-parent {
  display: flex;
  align-items: center;
  padding: 30px;
  width: 100%;
}

.hover {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  height: 60px;
  align-items: center;
  padding: 35px 0px;
  border: 1px solid #dfdcdc;
  border-radius: 4px;
  justify-content: space-between;
  box-shadow: 0px 0px 18px 4px #e9e4e4;
}

.hover:hover {
  border: 1px solid green !important;
  transform: scale(1);
/*   
    border: 2px solid green !important;
    transform: scale(1);
    box-shadow: 1px 9px 9px 5px #00800042; */

}

.tdd .vertical-center {
  vertical-align: middle;
}

.table .text-center td, .table .text-center th {
  vertical-align: middle;
}

@media (max-width: 440px) {
  .hover {
    width: 100% !important;
    overflow-y: hidden;
  }

  .SubCat-section .subCat-contentDiv {
    width: 100% !important;
    overflow-y: auto;
    margin: 7px 10px;
  }

  .subCat-contentDiv::-webkit-scrollbar {
    display: none;
  }

  .hover::-webkit-scrollbar {
    display: none;
  }

  .subCatHome {
    margin-top: 10rem;
  }

  div .home-row {
    margin: 4rem 10px;
  }

  .font-weight {
    font-weight: 500 !important;
    padding: 10px !important;
  }

  .imag-style {
    padding: 0px;
    margin-top: 0;
    margin-bottom: 0rem;
  }

  .p-none {
    margin-top: 0;
    margin-bottom: 0rem;
  }

  .image-parent {
    padding: 15px;
  }

  .navbar .form-inline .input-search {
    width: 15rem;
  }
}

@media (max-width:608px) {
  #home-section {
    margin-top: 6rem;
  }

  .subCatHome {
    margin-top: 8rem;
  }
}

@media (max-width:375px) {
  #home-section {
    margin-top: 8.5rem;
  }
}

table, th, td {
  border: 1px solid white;

}








/* Login and Signup style */

#email-error,
#password-error,
#name-error,
#agree-error {
  color: red;
}

.error {
  border-color: red !important;
  font-size: 12px;
}

input[type="checkbox"] {
  position: absolute;
  left: 20px;
  top: 0px;
}

.my-login-page .card-wrapper {
  width: 400px !important;
}

.my-login-page .card {
  border-color: transparent !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24) !important;
}

.my-login-page .card.fat {
  padding: 10px !important;
}

@media(max-width:500px){
  .my-login-page .card.fat {
    padding: 0px !important;
  }
  .my-login-page .card {
    border-color: unset !important;
    box-shadow: unset !important;
    border: unset;
  }
  .my-login-page .card .card-title {
    display: none !important;
  }
}

.my-login-page .card .card-title {
  margin-bottom: 30px !important;
}

.my-login-page .form-control {
  border-width: 2.3px !important;
}

.my-login-page .form-group label {
  width: 100% !important;
}

.my-login-page .btn.btn-block {
  padding: 8px 10px !important;
}

@media screen and (max-width: 425px) {
  .my-login-page .card-wrapper {
    width: 90% !important;
    margin: 0 auto !important;
  }
}

@media screen and (max-width: 320px) {
  .my-login-page .card.fat {
    padding: 0 !important;
  }

  .my-login-page .card.fat .card-body {
    padding: 15px !important;
  }
}

.main-container {
  margin-bottom: 5rem;
  height: fit-content;
}

.signup-emailErr {
  padding-right: 11px;
  color: #fd0000;
  border: 1px solid #d9d9d9;
  margin: 20px 0px;
  padding-top: 15px;
}

.home-contentTitle-parentDiv .text-decoration-none {
  text-decoration: none;
}

.card-body .text-decoration-underline {
  text-decoration: underline;
}

.card-wrapper div.card.fat {
  display: flex;
}






/* Close style */

.close-section {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  padding-top: 25px;
}

.close-parent-div .close-child-aTag {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 20px;
}






/* Subcategories style */

.subCat-heading-parentDiv {
  margin: 40px 40px;
}

.subCat-heading-h3Tag {
  letter-spacing: 1px;
  font-weight: 600;
  color: #564c4c;
}

.subCat-container {
  margin-top: 40px;
  margin-bottom: 30px
}

.subCat-contentDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  border-radius: 4px;
  border: 1px solid #efe7e7;
  box-shadow: 0px 0px 16px 3px #e5e5e5;
  min-width: 350px;
  margin: 15px 50px;
}

@media(max-width:500px){
  .subCat-contentDiv{
    min-width: unset !important;
    width: 100px!important;
  }
}

.card-body .text-decoration-none {
  text-decoration: none;
}

.font-weight-600 {
  font-weight: 600;
}

.padding-left-40 {
  padding-left: 40px;
}

.transform:hover {
  transform: scale(1.0);
  border: 1px solid green;
}




/* user header */

.padding-bottom-3rem5 .userHead-nav {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 50;
  box-shadow: 0px 0px 7px 1px #9d9d9d;
}

.base .account-space-l {
  margin-left: 10px;
  margin-right: 0px;
  color: black;
  font-size: 16px;
  border: 1px solid #bbb5b5;
  font-size: 14px;
}

.base .account-space-r {
  color: white !important;
  font-size: 16px;
  margin-right: 0px;
}

@media (max-width:767px) {
  #navbarNav .response-style-align {
    padding: 0px 12px;
    margin: 10px 0px;
  }

  .base .button-for-responsive-align {
    margin-top: 10px;
  }
}

th, td {
  border: 1px solid #e7dede;
}

td {
  font-size: 15px;
}



/* contact ui */



div
{
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6
{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}


.buttonContact
{
    display: inline-block;
    
    background: #599f4c;

    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.buttonContact a
{
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
    font-family: 'Rubik', sans-serif;
}
.buttonContact:hover
{
    opacity: 0.8;
}

.contact_info
{
    margin-top: 10px;
    width: 100%;
    padding-top: 70px;
}
.contact_info_item
{
    width: calc((100% - 60px) / 3);
    height: 100px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    padding-left: 32px;
    padding-right: 15px;
}
.contact_info_image
{
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 24px;
    color: green;
}
.contact_info_image img
{
    max-width: 100%;
}
.contact_info_content
{
    padding-left: 17px;
}
.contact_info_title
{
    font-weight: 500;
    font-size: 14px;
}
.contact_info_text
{
    font-size: 12px;
    color: rgba(0,0,0,0.5);
}

/*********************************
4.1 Contact Form
*********************************/

.contact_form
{
    padding-top: 85px;
}
.contact_form_container
{

}
.contact_form_title
{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 37px;
}
.contact_form_inputs
{
    margin-bottom: 30px;
}
.input_field
{
    width: calc((100% - 60px) / 3);
    height: 50px;
    padding-left: 25px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    outline: none;
    color: black;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.input_field:focus,
.text_field:focus
{
    border-color: #b2b2b2;
}
.input_field:hover,
.text_field:hover
{
    border-color: #b2b2b2;
}
.input_field::-webkit-input-placeholder,
.text_field::-webkit-input-placeholder
{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.3);
}
.input_field:-moz-placeholder,
.text_field:-moz-placeholder
{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.3);
}
.input_field::-moz-placeholder,
.text_field::-moz-placeholder
{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.3);
} 
.input_field:-ms-input-placeholder,
.text_field:-ms-input-placeholder
{ 
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.3);
}
.input_field::input-placeholder,
.text_field::input-placeholder
{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.3);
}
.text_field
{
    width: 100%;
    height: 160px;
    padding-left: 25px;
    padding-top: 15px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    color: black;
    outline: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.contact_submit_button
{
    padding-left: 35px;
    padding-right: 35px;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 24px;
}
.panel
{
    width: 100%;
    height: 50px;
    background: #fafafa;
    margin-top: 120px;
}


@media only screen and (max-width: 991px)
{
    
    .contact_info_item
    {
        width: 100%;
        margin-bottom: 30px;
    }
    .contact_info_item:last-child
    {
        margin-bottom: 0px;
    }
    
}

@media only screen and (max-width: 767px)
{
    
    .input_field
    {
        margin-bottom: 30px;
        width: 100%;
    }
    .input_field:last-child
    {
        margin-bottom: 0px;
    }
}


@media only screen and (max-width: 575px)
{
    
    .contact_submit_button
    {
        font-size: 13px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
}

@media only screen and (max-width: 575px)
{
    
    .contact_info
    {
        margin-top: 5rem;
    }
    
}
